@font-face {
	font-family: 'Roboto_Mono';
	src: url('fonts/Roboto_Mono/RobotoMono-Regular.ttf');
}

@font-face {
	font-family: 'Baloo2';
	src: url('fonts/Baloo_2/Baloo2-Regular.ttf');
}

@font-face {
	font-family: 'Parisienne';
	src: url('fonts/Parisienne/Parisienne-Regular.ttf');
}

@font-face {
	font-family: 'Monoton';
	src: url('fonts/Monoton/Monoton-Regular.ttf');
}